/* Style for modal dialog */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Style for modal content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 15%;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  min-width: 300px;
  position: relative;
}

/* Style for close button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Style for input fields */
label {
  display: block;
  margin-bottom: 5px;
}

#name,
#lecturer {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#submit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #c40f61;
  color: #fff;
}
