#navbar {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
#navbar img {
  max-height: 50px;
}
nav ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li {
  margin-left: 30px;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
nav a:hover {
  background-color: #fff;
  color: #000;
}
#logoutIcon {
  height: 35px;
  width: 35px;
}
#footer {
  background: linear-gradient(90deg, #e27210 0%, #c40f61 100%);
  color: #fff;
  text-align: center;
  position: sticky;
  width: 100%;
  bottom: 0;
  height: 90px;
}

#textFooter {
  font-size: 24px;
  font-weight: 200;
  line-height: 90px;
  text-align: center;
}
