<link rel="stylesheet" href="/css/components.css" />
<img src="/media/logo.png" alt="Logo" />
<nav>
  <ul>
    <li>
      <a href="/html/index.html"><img src="/media/homeIcon.png" alt="" /></a>
    </li>
    <li>
      <a href="#"><img src="/media/notificationIcon.png" alt="" /></a>
    </li>

    <li>
      <a href="/html/kolegij.html"
        ><img src="/media/courseIcon.png" alt=""
      /></a>
    </li>
    <li>
      <a href="/html/login.html"
        ><img id="logoutIcon" src="/media/icons8-logout-50.png" alt=""
      /></a>
    </li>
  </ul>
</nav>
